@media (max-width: 37.9375em) {
  .comment {
    position: relative;
    flex-direction: column;
  }
  .comment .comment-header {
    flex-direction: column;
  }
  .comment .comment-header .btns {
    align-self: flex-end;
    position: absolute;
    bottom: 1.6rem;
    right: 1rem;
    gap: 0 !important;
  }
  .comment .likes-container {
    flex-direction: row;
    align-items: center;
    order: 1;
    align-self: flex-start;
    height: -moz-fit-content;
    height: fit-content;
    gap: 0.5rem;
    margin: 0;
    margin-top: 0.5rem;
    padding: 0.7rem 0.5rem;
  }
  .user-comment {
    flex-direction: column-reverse;
    position: relative;
  }
  .user-comment textarea {
    box-sizing: border-box;
  }
  .user-comment .send-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
  .add-comment .user-comment button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}
@media (max-width: 106.25em) {
  .delete-panel {
    width: 24%;
  }
}
@media (max-width: 88.5625em) {
  .delete-panel {
    width: 30%;
  }
}
@media (max-width: 70.8125em) {
  .delete-panel {
    width: 40%;
  }
}
@media (max-width: 53.125em) {
  .delete-panel {
    width: 60%;
  }
  .delete-panel-btns {
    flex-direction: column-reverse;
    gap: 0.5rem;
    width: 100%;
  }
  .CANCEL-btn {
    margin-right: 0 !important;
  }
}
@media (max-width: 23.43755em) {
  .delete-panel {
    gap: 1rem;
  }
  .delete-text {
    display: none;
  }
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  box-sizing: border-box;
  background-color: #eaecf1;
  display: flex;
  align-items: center;
  height: 100vh;
  gap: 1rem;
  flex-direction: column;
}

.comments {
  max-width: 80rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.add-comment {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 80rem;
  margin-bottom: 2rem;
}
.add-comment .user-comment {
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.056);
  background-color: white;
  display: flex;
  box-sizing: border-box;
  padding: 1rem;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
  margin-bottom: 2rem;
}
.add-comment .user-comment textarea {
  width: 100%;
  border: 1px solid #e0e0e0;
  height: 4rem;
  border-radius: 0.4rem;
  padding: 1rem;
  line-height: normal;
  resize: none;
  font-family: "Rubik";
  font-size: 15px;
}
.add-comment .user-comment textarea:focus {
  border: 1px solid #5457b6;
}
.add-comment .user-comment button {
  cursor: pointer;
  background: none;
  border-radius: 0.2rem;
  border: none;
  font-weight: 500;
  font-size: 16px;
  background-color: hsl(228, 45%, 44%);
  color: white;
  font-size: 1rem;
  padding: 1rem 1.8rem;
  border-radius: 0.5rem;
}
.add-comment .user-comment button:hover,
.add-comment .user-comment button:active {
  background-color: hsl(239, 57%, 85%);
  transition: 0.1s;
}
.add-comment .user-comment img {
  width: 2.8rem;
}

.reply {
  margin-left: 10%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
}

.comment {
  display: flex;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.056);
  background-color: white;
}
.comment .likes-container {
  height: 4rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  padding: 1rem 0.4rem;
  text-align: center;
  background-color: #eaecf1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.comment .likes-container p {
  font-weight: 600;
  color: #5457b6;
  margin: 0;
}
.comment .likes-container .btn {
  cursor: pointer;
  background: none;
  border-radius: 0.2rem;
  border: none;
  font-weight: 500;
  font-size: 16px;
}
.comment .comment-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.comment .comment-container .comment-header {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.comment .comment-container .comment-header .btns {
  display: flex;
  gap: 1rem;
}
.comment .comment-container .comment-header .contact-info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.comment .comment-container .comment-header .contact-info img {
  width: 2.5rem;
}
.comment .comment-container .comment-header .contact-info .username {
  cursor: pointer;
  color: #324152;
  font-weight: 500;
  font-size: 15px;
}
.comment .comment-container .comment-header .contact-info .date {
  color: #67727e;
  font-size: 13px;
  font-weight: 300;
}
.comment .comment-container .comment-description {
  margin-right: 0.9rem;
  color: rgb(92, 102, 110);
  word-break: break-word;
  font-size: 16px;
  line-height: 1.4rem;
  letter-spacing: 0.03rem;
  font-weight: 400;
}
.comment .comment-container .comment-description span {
  color: hsl(228, 45%, 44%);
  font-weight: 600;
}

.hidden-you {
  color: white;
  padding: 0.3rem;
  padding-top: 0.1rem;
  font-weight: 500;
  text-align: center;
  font-size: 13px;
  background-color: hsl(228, 45%, 44%);
  border-radius: 0.2rem;
}

.scroll {
  overflow: scroll;
}

.icon {
  color: #c3c4ef;
}

ion-icon:hover,
ion-icon:active {
  color: #c11d38 !important;
  transition: 0.5s;
}

.btn:hover,
.btn:active,
.update-btn:hover,
.update-btn:active {
  opacity: 50%;
  transition: 0.1s;
  transition-timing-function: ease-out;
}

.hidden {
  display: none !important;
}

.btn {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.delete-btn {
  color: hsl(358, 79%, 66%);
  cursor: pointer;
  background: none;
  border-radius: 0.2rem;
  border: none;
  font-weight: 500;
  font-size: 16px;
}

.edit-btn {
  color: hsl(228, 45%, 44%);
  cursor: pointer;
  background: none;
  border-radius: 0.2rem;
  border: none;
  font-weight: 500;
  font-size: 16px;
}

.reply-btn {
  color: hsl(228, 45%, 44%);
  cursor: pointer;
  background: none;
  border-radius: 0.2rem;
  border: none;
  font-weight: 500;
  font-size: 16px;
}

.reply-btn:hover,
.reply-btn:active {
  color: hsl(239, 57%, 85%);
}

.delete-panel {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
  width: 20%;
}
.delete-panel h3 {
  font-size: 25px;
  margin: 0;
  color: hsl(212, 24%, 26%);
}
.delete-panel .delete-text {
  color: hsl(211, 10%, 45%);
  font-size: 18px;
  line-height: 1.5rem;
  margin-bottom: 4rem;
}
.delete-panel .CANCEL-btn {
  background-color: hsl(212, 24%, 26%);
  margin-right: 0.7rem;
}
.delete-panel .DELETE-btn {
  background-color: hsl(358, 79%, 66%);
}
.delete-panel .DELETE-btn:hover,
.delete-panel .DELETE-btn:active {
  background-color: hsl(357, 100%, 86%);
}
.delete-panel .delete-panel-btns {
  align-self: center;
  display: flex;
}
.delete-panel button {
  cursor: pointer;
  background: none;
  border-radius: 0.2rem;
  border: none;
  font-weight: 500;
  font-size: 16px;
  padding: 1rem 2rem;
  border-radius: 1rem;
  color: white;
}

.delete-panel-container {
  background-color: rgba(50, 65, 82, 0.5333333333);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.update-btn {
  align-self: flex-end;
  cursor: pointer;
  background: none;
  border-radius: 0.2rem;
  border: none;
  font-weight: 500;
  font-size: 16px;
  background-color: hsl(228, 45%, 44%);
  color: white;
  font-size: 1rem;
  padding: 1rem 1.8rem;
  border-radius: 0.5rem;
}

.fade {
  transition: 0.2s;
}

.text-box-update {
  border: 1px solid #e0e0e0;
  height: 4rem;
  border-radius: 0.4rem;
  padding: 1rem;
  line-height: normal;
  resize: none;
  margin-bottom: 1rem;
  font-family: "Rubik";
  font-size: 16px;
}

.text-box-update:focus {
  border: 1px solid #5457b6;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
.horizontal-shaking {
  animation: horizontal-shaking 0.9s;
}/*# sourceMappingURL=style.css.map */